div.well(ng-controller='ConfigController')
  form.form-horizontal(name='ConfigForm', action='/rithm', method='post', enctype="multipart/form-data")

    div.row
      div.col-md-8
        div.form-group
          label(for='specs', class=['col-sm-4', 'control-label']) Specifications:
          div.col-sm-8
            textarea.form-control(rows='3', ng-model='config.specs', name='specs')

      div.col-md-4
        div.form-group
          label(for='logicalFormalism', class=['col-sm-4', 'control-label']) Logical Formalism:
          div.col-sm-8
            select.form-control(ng-model='config.logicalFormalism', name='logicalFormalism', ng-options="item for item in config.syntax")

        div.form-group
          label(for='monitorType', class=['col-sm-4', 'control-label']) Monitor Type:
          div.col-sm-8
            select.form-control(ng-model='config.monitorType', name='monitorType', ng-options="item for item in config.monitor")

    div.row
      div.col-md-8
        div.form-group
          label(for='tracefile', class=['col-sm-4', 'control-label']) Execution trace file:
          div.col-sm-8
            input(type='file', ng-model='config.tracefile', name='tracefile', required)
      div.col-md-4
          label(for='dataFormat', class=['col-sm-4', 'control-label']) Data Format:
          div.col-sm-8
            select.form-control(ng-model='config.dataFormat', name='dataFormat', ng-options="item for item in config.format")


    div.row
      div.col-md-8
        div.form-group
          div(class=['col-sm-offset-4', 'col-sm-8'])
            div.checkbox
              label
                input(type='checkbox', ng-model='config.useDefault', name='useDefault')
                Use Default Predicate Evaluator

     div.row
      div.col-md-8
        div.form-group
          label(for='scriptfile', class=['col-sm-4', 'control-label']) Predicate Evaluator Script File:
          div.col-sm-8
            input(type='file', ng-model='config.scriptfile', name='scriptfile', ng-disabled="config.useDefault", required)

        div.form-group
          label(for='invCtrl', class=['col-sm-4', 'control-label']) Invocation Controller:
          div.col-sm-8
            select.form-control(ng-model='config.invCtrl', name='invCtrl', ng-options="item for item in config.invocator")

      div.col-md-4
        div.form-group
          label(for='evalType', class=['col-sm-4', 'control-label']) Evaluator Type:
          div.col-sm-8
            select.form-control(ng-model='config.evalType', name='evalType', ng-options="item for item in config.evaluator", ng-disabled="config.useDefault")

    hr

    div.col-sm-offset-4
      input(value='Process', type='submit', class=['btn', 'btn-primary'])
      button(class=['btn', 'btn-default'], ng-click="viewOutput()") View Output
      button(class=['btn', 'btn-default'], ng-click="saveConfig()") Save Configuration
      button(class=['btn', 'btn-default'], ng-click="loadConfig()") Load Configuration
