extends layout

block content
  h1= title

  ul(class=['nav', 'nav-tabs'])
    li.active(role='presentation')
      a(href='#config', aria-controls='config', role='tab', data-toggle='tab') Main
    li(role='presentation')
      a(href='#plugin', aria-controls='plugin', role='tab', data-toggle='tab') Plugin
    li(role='presentation')
      a(href='#pipe', aria-controls='pipe', role='tab', data-toggle='tab') Pipe

  div.tab-content
    div#config(role='tabpanel', class=['tab-pane', 'active'])
      include config.jade
    div#plugin(role='tabpanel', class=['tab-pane'])
      include plugin.jade
    div#pipe(role='tabpanel', class=['tab-pane'])
      include pipe.jade
