div.well(ng-controller='PluginController')
  form.form-horizontal

    div.form-group
      label(for='pluginName', class=['col-sm-2', 'control-label']) Plugin Name:
      div.col-sm-8
        input(type='text', ng-model='pluginName')

    div.form-group
      label(for='pluginType', class=['col-sm-2', 'control-label']) Type:
      div.col-sm-8
        input(type='text', ng-model='pluginType')

    div.form-group
      label(for='jar', class=['col-sm-2', 'control-label']) Upload JAR:
      div.col-sm-8
        input(type='file', ng-model='jar')
