//- Half the display will contain the graph, lower half will contain the output

extends index

block head


block content
  h1= title
  hr

  div#plot_area
    each property, index in data
      div
        h3= property.str
        button(class=['btn', 'btn-info'], onclick='getHtmlLog('+ index + ')') View Detailed Log
        div(data-plot=property.plotData)
      hr

  div#logModal(class=['modal', 'fade'], role='dialog', aria-labeledby='modalLabel')
    div.modal-dialog(role='document', style="width: 900px;")
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#modalLabel.modal-title Detailed Property Evaluation

        div.modal-body

        div.modal-footer
          button(class=['btn', 'btn-default'], data-dismiss='modal') Close
